<body>
    <div id="nav2" class="container">
        <div id="li1">
        <a href="">Movies</a>
        <a href="">Streams</a>
        <a href="">Events</a>
        <a href="">Plays</a>
        <a href="">Sports</a>
        <a href="">Activities</a>
        <a href="">Buzz</a>
        </div>

        <div id="li2">
        <a href="">ListYourShow</a>
        <a href="">Corporates</a>
        <a href="">Offers</a>
        <a href="">Gift Cards</a> 
        </div>

    </div>
</body>